/*  Universal Web Page Characteristics */
* {
  padding: 0;
  margin: 0;
  margin-top: 0;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

/*  Body Web Page Characteristics */
body {
  background-color: aquamarine;
  overflow-x: hidden;
  font-weight: 400;
}

#header {
  position: absolute;
}

/*  ID "title" Characteristics */
/*#title {
  font-size: 20px;
  color: red;
  margin: 20px;
  margin-right: 0;
  font-weight: bold;
  left: 0;
}*/

/*nav::before {
  content:"";
  background-color: red;
  text-align: left;
  margin-left: auto;
}*/

/*  "nav" Tag Characteristics */
/*nav {
  float: right;
  margin-right: 0;
  margin-top: 0;
  margin: 0;
}*/

/*  "nav ul" Tag Characteristics */
nav ul {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

/*  "nav li" Tag Characteristics */
nav ul li {
  display: inline-block;
  font-weight: bold;
}

/*  "nav a" Tag Characteristics */
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  background-color: aquamarine;
  font-weight: bold;
  color: teal;
  padding-right: 10px;
  position: relative;
  top: 0;
  right: 0;
}

/*  "nav a:hover" Tag pseudo class Characteristics */
/*nav ul li a:hover {*/
/*font-size: 30px;*/
/*font-weight: bold;*/
/*color: red;*/
/*font-weight: 500;*/
/*transition: all ease-in-out 3000ms;*/

/*nav a::before {
  direction: rtl;
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: teal;
  position: absolute;
  top: 0;
  transition: all ease-in-out 750ms;
}*/

/*nav a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: red;
  position: relative;
  bottom: 0;
  transition: all ease-in-out 750ms;
}*/

/*nav a:hover::before {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: teal;
  position: absolute;
  top: 0;
  transition: all ease-in-out 7750ms;
  direction: rtl;
}*/

nav a:hover::after {
  content: "";
  display: block;
  height: 3px;
  width: 90%;
  background-color: rgb(0, 0, 255);
  position: absolute;
  bottom: 0;
}

nav a:hover {
  color: rgb(0, 0, 255);
}

/*  Paragraph Web Page Characteristics -GOOD- */
p {
  position: relative;
  text-align: left;
  color: teal;
  font-size: 25px;
  word-wrap: break-word;
  text-indent: 25px;
}

/*  "Heading 1" Web Page Characteristics  -GOOD-*/
h1 {
  text-transform: capitalize;
  font-size: 18px;
  color: teal;
  font-style: oblique;
  font-weight: 700;
}

.container {
  position: absolute;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: auto;
  padding: 50px;
  margin-left: 151px;
  margin-top: -4px;
  background-color: aquamarine;
  border: 1.5px solid yellow;
}

.footer {
  clear: both;
  margin-left: 150px;
  font-size: 10px;
  color: black;
  position: relative;
  width: auto;
  height: 13px;
  background-color: aqua;
  border: 1.5px solid teal;
  text-align: right;
}

.nav_bar {
  float: left;
}

.logo-image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.logo-image3 {
  clear: both;
  float: right;
  position: fixed;
}

.image3 {
  border: 1px solid yellow;
  top: 50px;
  right: 50px;
  position: fixed;
  float: right;
  width: 500px;
}

.image1 {
  position: absolute;
  width: 150px;
  top: 0;
  left: 0;
  border: 1px solid yellow;
}
.image2 {
  position: relative;
  width: 150px;
  top: 0;
  left: 0;
  border: 1px solid yellow;
}

.overlay {
  opacity: 0;
}

.logo-image:hover .overlay {
  opacity: 1;
  background-color: none;
  position: relative;
}

/*.text1 {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 167px;
  left: 105px;
  transform: translate(-75%, -75%);
  -ms-transform: translate(-50%, -50%);
}*/

/*.text2 {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 15px;
  left: 170px;
  transform: translate(-75%, -75%);
  -ms-transform: translate(-50%, -50%);
}*/

/*  "Heading 2" Web Page Characteristics */
h2 {
  text-decoration-line: underline;
  letter-spacing: 3px;
  position: relative;
  display: block;
  text-align: right;
  color: rgb(35, 35, 100);
  margin-left: 232px;
  margin-top: 35px;
}

/*  Psuedo "header::after" Characteristics */
/*header::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;
}*/
