/*  Universal Web Page Characteristics */
* {
  padding: 0;
  margin: 0;
  margin-top: 0;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

/*  ID "title" Characteristics */
#title {
  font-size: 20px;
  color: teal;
  margin: 20px;
  margin-right: 0;
  font-weight: bold;
  left: 0;
}

/*  Body Web Page Characteristics */
body {
  background-color: aquamarine;
  overflow-x: hidden;
  font-weight: 400;
}

/*  "nav" Tag Characteristics */
nav {
  float: right;
  margin-right: 0;
  margin-top: 0;
  margin: 0;
}

/*  "nav ul" Tag Characteristics */
nav ul {
  margin: 0;
  margin-top: 0;
  padding: 0;
  list-style: none;
}

/*  "nav li" Tag Characteristics */
nav li {
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  margin-top: 0;
  padding-top: 0;
  padding-right: 0;
  position: relative;
}

/*  "nav a" Tag Characteristics */
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  text-align: right;
  background-color: aquamarine;
  width: auto;
  font-weight: bold;
  color: teal;
}

/*  "nav a:hover" Tag pseudo class Characteristics */
/*nav ul li a:hover {
  font-size: 30px;
  font-weight: bold;
  color: teal;
  font-weight: 900;
  transition: all ease-in-out 1000ms;
}*/

/*nav a::before {
  direction: rtl;
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: teal;
  position: absolute;
  top: 0;
  transition: all ease-in-out 750ms;
}*/

/*nav a::after {
  direction: rtl;
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: red;
  position: absolute;
  bottom: 0;
  transition: all ease-in-out 750ms;
}*/

/*nav a:hover::before {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: teal;
  position: absolute;
  top: 0;
  transition: all ease-in-out 7750ms;
  direction: rtl;
}*/

nav a:hover::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: teal;
  position: absolute;
  bottom: 0;
  transition: all ease-in-out 7750ms;
  direction; rtl;
}

/*  Paragraph Web Page Characteristics */
p {
  text-align: center;
  color: red;
  font-size: 45px;
  margin-top: 50px;
}

/*  "Heading 1" Web Page Characteristics */
h1 {
  text-transform: capitalize;
  font-size: 20px;
  color: teal;
  font-style: oblique;
  font-weight: 900;
}

/*  "Heading 2" Web Page Characteristics */
h2 {
  text-decoration-line: underline;
  letter-spacing: 3px;
  position: relative;
  display: block;
  text-align: left;
  color:rgb(2, 90, 90);
  margin-left: 15px;
  margin-top: 10px;
}

/*  Class "container" Characteristics */
/*.container {
  width: 80%;
  margin: 0 auto;
  color: yellow;
}*/

/*  Psuedo "header::after" Characteristics */
/*header::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;
}*/

/*  Psuedo "header::after" Characteristics */
header::after {
  content: "";
  display: table;
  clear: both;
}
